.mainOutter {
  position: relative;
  z-index: 1;
}
.main {
  display: flex;
  justify-content: center;
  gap: 6vw;
}
.mainImg img {
  width: 25vw;
}
.mainText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.mainText h1 {
  font-size: 48px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
.mainText h1 b {
  text-shadow: 0px 0px 8px #ff952d;
  letter-spacing: 4px;
}
.mainText p {
  font-size: 1.3em;
  font-family: "Open Sans", serif;
}

@media screen and (max-width: 480px) {
  .main {
    gap: 0;
    padding: 0 10vw 0 10vw;
  }
  .mainText {
    gap: 15px;
  }
  .mainText h1 {
    font-size: 24px;
  }
  .mainText h1 b {
    text-shadow: 0px 0px 4px #ff952d;
    letter-spacing: 2px;
  }
  .mainText p {
    font-size: 0.7em;
    text-align: justify;
  }
  .mainImg img {
    display: none;
  }
}
