.schedulerCont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
}
.schedulerCont h1 {
  color: white;
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  color: var(--foreground);
  font-weight: 900;
}
.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.cont button {
  border-color: white;
  color: white;
}
.cont button:hover {
  background-color: white;
  color: #ff952d;
}
.optionsCont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.card {
  background-color: white;
  color: #ff952d;
}
.cardContent {
  font-family: "Montserrat", sans-serif;
  padding: 24px;
}
.cardContent h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}
.cardContent p {
  color: #ff952d;
}
.radioGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.radioGroup div {
  background-color: #ff962d15;
  border-radius: 9999px;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.2s ease;
}
.radioGroup div:hover {
  background-color: #ff962d3a;
}
.radioGroupItem {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}
.radioGroupItemLabel {
  cursor: pointer;
  text-transform: capitalize;
}
.radioGroupItemLabelChecked {
  color: var(--foreground);
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 60vw;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popupDishDetailCont {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: left;
}
.popupIngredients {
  width: 100%;
}
.popupIngredients li {
  list-style: none;
  text-align: left;
}
