.schedulerCont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
}
.schedulerCont h1 {
  color: white;
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  color: var(--foreground);
  font-weight: 900;
}
.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.cont button {
  border-color: white;
  color: white;
}
.cont button:hover {
  background-color: white;
  color: #ff952d;
}
.optionsCont {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 50px;
}
.card {
  background-color: white;
  color: #ff952d;
}
.cardContent {
  font-family: "Montserrat", sans-serif;
  padding: 24px;
}
.cardContent h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}
.cardContent p {
  color: #ff952d;
}
.radioGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.radioGroup div {
  background-color: #ff962d15;
  border-radius: 9999px;
  padding: 0.75rem 1.5rem;
  transition: background-color 0.2s ease;
}
.radioGroup div:hover {
  background-color: #ff962d3a;
}
.radioGroupItem {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
}
.radioGroupItemLabel {
  cursor: pointer;
  text-transform: capitalize;
}
.radioGroupItemLabelChecked {
  color: var(--foreground);
}

@media screen and (max-width: 480px) {
  .schedulerCont {
    margin-top: 40px;
    gap: 0;
  }
  .schedulerCont h1 {
    font-size: 32px;
  }
  .cont {
    margin-top: 40px;
    gap: 30px;
    padding: 0 10vw 0 10vw;
  }
  .optionsCont {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .cardContent p {
    font-size: 0.7rem;
  }
  .radioGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
  }
}
