.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-color: red;
}
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 60vw;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.popupDishDetailCont {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: left;
}
.popupIngredients {
  width: 100%;
}
.popupIngredients li {
  list-style: none;
  text-align: left;
}
